## import the libraries

In [3]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

## add the path to the dataset

In [4]:
file_path="/Users/mayurimamdi/Downloads/Data_train.xlsx"

In [5]:
df_train=pd.read_excel(file_path)

## analyse the data

In [6]:
df_train.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [8]:
df_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [9]:
df_train.shape

(10683, 11)

In [10]:
df_train['Airline'].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [11]:
df_train['Source'].value_counts()

Source
Delhi       4537
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: count, dtype: int64

In [12]:
df_train['Destination'].value_counts()

Destination
Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: count, dtype: int64

## check the test set

In [13]:
df_test=pd.read_excel("/Users/mayurimamdi/Downloads/Test_set.xlsx")

In [14]:
df_test.describe()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671
unique,11,44,5,6,100,199,704,320,5,6
top,Jet Airways,9/05/2019,Delhi,Cochin,DEL → BOM → COK,10:00,19:00,2h 50m,1 stop,No info
freq,897,144,1145,1145,624,62,113,122,1431,2148

In [15]:
df_test.shape

(2671, 10)

## merge them both

In [16]:
df=pd.concat([df_train, df_test], axis=0)

## feature engineering

In [18]:
df['Date']=df['Date_of_Journey'].str.split('/').str[0]
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [19]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [22]:
df.drop('Date_of_Journey', axis=1, inplace=True)

In [23]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  object
 11  Month            13354 non-null  object
 12  Year             13354 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.4+ MB

In [28]:
df['Date']=df['Date'].astype(int)

In [29]:
df['Month']=df['Month'].astype(int)

In [30]:
df['Year']=df['Year'].astype(int)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int64
 11  Month            13354 non-null  int64
 12  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.4+ MB

In [24]:
df.shape

(13354, 13)

In [34]:
df.drop(columns='Route', axis=1)

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,6,6,2019
2667,IndiGo,Kolkata,Banglore,14:20,16:55,2h 35m,non-stop,No info,NaN,27,3,2019
2668,Jet Airways,Delhi,Cochin,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,6,3,2019
2669,Air India,Delhi,Cochin,04:00,19:15,15h 15m,1 stop,No info,NaN,6,3,2019
2670,Multiple carriers,Delhi,Cochin,04:55,19:15,14h 20m,1 stop,No info,NaN,15,6,2019

In [37]:
df['Arrival_Time'].str.split(' ').str[0]

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [38]:
df['Arrival Hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival Min']=df['Arrival_Time'].str.split(':').str[1]

In [40]:
df['Arrival Hour'].head()

0     1
1    13
2     4
3    23
4    21
Name: Arrival Hour, dtype: int64

In [41]:
df['Arrival Min'].head()

0    10 22 Mar
1           15
2    25 10 Jun
3           30
4           35
Name: Arrival Min, dtype: object

I have to fix the mistakes that i made here, need to drop th enew columns that were made since its also adding the date as well

In [45]:
df.drop(columns='Arrival Hour', axis=1, inplace=True)

In [46]:
df.drop(columns='Arrival Min', axis=1, inplace= True)

In [47]:
df['Arrival_Time'].str.split(' ').str[0]

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [49]:
df['Arrival hour']=df['Arrival_Time'].str.split(':').str[0]

In [50]:
df['Arrival Min']=df['Arrival_Time'].str.split(':').str[1]

In [53]:
df['Arrival Min'].head()

0    10 22 Mar
1           15
2    25 10 Jun
3           30
4           35
Name: Arrival Min, dtype: object

In [52]:
df['Arrival hour']=df['Arrival hour'].astype(int)
df['Arrival Min']=df['Arrival Min'].astype(int)

ValueError: invalid literal for int() with base 10: '10 22 Mar'

guess i made the same mistake.. need to sort out

In [55]:
df.drop(columns=['Arrival hour', 'Arrival Min'], axis=1, inplace = True)

In [56]:
df['Arrival_Time']=df['Arrival_Time'].str.split(' ').str[0]

In [57]:
df['Arrival_Time'].head()

0    01:10
1    13:15
2    04:25
3    23:30
4    21:35
Name: Arrival_Time, dtype: object

now it is seem to be working

In [58]:
df['Arrival hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival Min']=df['Arrival_Time'].str.split(':').str[1]

In [59]:
df['Arrival hour'].head()

0    01
1    13
2    04
3    23
4    21
Name: Arrival hour, dtype: object

In [60]:
df['Arrival Min'].head()

0    10
1    15
2    25
3    30
4    35
Name: Arrival Min, dtype: object

In [61]:
df['Arrival hour']=df['Arrival hour'].astype(int)
df['Arrival Min']=df['Arrival Min'].astype(int)

In [65]:
df.drop(columns='Arrival_Time', axis=1, inplace=True)

Doing the same for Departure time

In [68]:
df['Dep hour']=df['Dep_Time'].str.split(':').str[0]

In [69]:
df['Dep min']=df['Dep_Time'].str.split(':').str[1]

In [70]:
df['Dep hour']=df['Dep hour'].astype(int)
df['Dep min']=df['Dep min'].astype(int)

In [72]:
df.drop(columns='Dep_Time', axis=1, inplace = True )

In [73]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50

Lets start with total stops now

In [74]:
df['Total_Stops']=df['Total_Stops'].str.split(' ').str[0]

In [75]:
df['Total_Stops'].head()

0    non-stop
1           2
2           2
3           1
4           1
Name: Total_Stops, dtype: object

In [ ]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0 })

In [77]:
df['Total_Stops'].head()

0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
Name: Total_Stops, dtype: float64

In [78]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,NaN,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,NaN,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,NaN,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,NaN,No info,13302.0,1,3,2019,21,35,16,50

In [80]:
df['Total_Stops'] = df['Total_Stops'].map({
    'non-stop': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4
})

In [82]:
df['Total_Stops'].value_counts()

Series([], Name: count, dtype: int64)

In [83]:
df['Total_Stops'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Total_Stops, dtype: float64

In [84]:
df['Total_Stops'].value_counts(dropna=False)

Total_Stops
NaN    13354
Name: count, dtype: int64

In [85]:

df['Total_Stops'].dtype

dtype('float64')

I have messed up again n need to fix it

In [86]:
df['Total_Stops']=df_train['Total_Stops']

In [87]:
df['Total_Stops'].head()

0    non-stop
1     2 stops
2     2 stops
3      1 stop
4      1 stop
Name: Total_Stops, dtype: object

In [88]:
df['Total_Stops']=df['Total_Stops'].str.split(' ').str[0]

In [89]:
df['Total_Stops'].head()

0    non-stop
1           2
2           2
3           1
4           1
Name: Total_Stops, dtype: object

In [90]:
df['Total_Stops'].unique()

array(['non-stop', '2', '1', '3', nan, '4'], dtype=object)

In [91]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0, '1':1, '2':2, '3':3, '4': 4})

In [92]:
df['Total_Stops'].head()

0    0.0
1    2.0
2    2.0
3    1.0
4    1.0
Name: Total_Stops, dtype: float64

In [94]:
df['Total_Stops'].isnull().sum()

np.int64(1)

In [105]:
df.dropna(subset=['Total_Stops'], inplace=True)

In [106]:
df['Total_Stops'].isna().sum()

np.int64(0)

In [107]:
df['Total_Stops']=df['Total_Stops'].astype(int)

In [108]:
df['Total_Stops'].head()

0    0
1    2
2    2
3    1
4    1
Name: Total_Stops, dtype: int64

lets check duration now

In [109]:
df['Duration'].head()

0    2h 50m
1    7h 25m
2       19h
3    5h 25m
4    4h 45m
Name: Duration, dtype: object

In [112]:
df['Duration'].str.split(' ').str[0].str.split('h').str[0]

0        2
1        7
2       19
3        5
4        4
        ..
2666    23
2667     2
2668     6
2669    15
2670    14
Name: Duration, Length: 13353, dtype: object

In [113]:
df['Duration hour']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [115]:
df['Duration'].str.split(' ').str[1].str.split('m').str[0]

0        50
1        25
2       NaN
3        25
4        45
       ...
2666     55
2667     35
2668     35
2669     15
2670     20
Name: Duration, Length: 13353, dtype: object

In [116]:
df['Duration min']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [119]:
df.drop(columns=['Duration','Route'], axis=1, inplace= True)

In [120]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min,Duration hour,Duration min
0,IndiGo,Banglore,New Delhi,0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,2,No info,13882.0,9,6,2019,4,25,9,25,19,NaN
3,IndiGo,Kolkata,Banglore,1,No info,6218.0,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,1,No info,13302.0,1,3,2019,21,35,16,50,4,45

In [121]:
df['Duration min']=df['Duration min'].fillna(0)

In [122]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min,Duration hour,Duration min
0,IndiGo,Banglore,New Delhi,0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,2,No info,13882.0,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,1,No info,6218.0,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,1,No info,13302.0,1,3,2019,21,35,16,50,4,45

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13353 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13353 non-null  object
 1   Source           13353 non-null  object
 2   Destination      13353 non-null  object
 3   Total_Stops      13353 non-null  int64
 4   Additional_Info  13353 non-null  object
 5   Price            10682 non-null  float64
 6   Date             13353 non-null  int64
 7   Month            13353 non-null  int64
 8   Year             13353 non-null  int64
 9   Arrival hour     13353 non-null  int64
 10  Arrival Min      13353 non-null  int64
 11  Dep hour         13353 non-null  int64
 12  Dep min          13353 non-null  int64
 13  Duration hour    13353 non-null  object
 14  Duration min     13353 non-null  object
dtypes: float64(1), int64(8), object(6)
memory usage: 1.6+ MB

In [126]:
df[df['Duration hour']=='5m']

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min,Duration hour,Duration min
6474,Air India,Mumbai,Hyderabad,2,No info,17327.0,6,3,2019,16,55,16,50,5m,0
2660,Air India,Mumbai,Hyderabad,2,No info,NaN,12,3,2019,16,55,16,50,5m,0

In [128]:
df.drop(6474, axis=0, inplace= True)

In [129]:
df.drop(2660, axis=0, inplace= True)

In [130]:
df['Duration hour']=df['Duration hour'].astype(int)
df['Duration min']=df['Duration min'].astype(int)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13350 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13350 non-null  object
 1   Source           13350 non-null  object
 2   Destination      13350 non-null  object
 3   Total_Stops      13350 non-null  int64
 4   Additional_Info  13350 non-null  object
 5   Price            10680 non-null  float64
 6   Date             13350 non-null  int64
 7   Month            13350 non-null  int64
 8   Year             13350 non-null  int64
 9   Arrival hour     13350 non-null  int64
 10  Arrival Min      13350 non-null  int64
 11  Dep hour         13350 non-null  int64
 12  Dep min          13350 non-null  int64
 13  Duration hour    13350 non-null  int64
 14  Duration min     13350 non-null  int64
dtypes: float64(1), int64(10), object(4)
memory usage: 1.6+ MB

now airline, source, and destination

In [140]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [141]:
df['Airline']=labelencoder.fit_transform(df['Airline'])

In [142]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min,Duration hour,Duration min
0,3,Banglore,New Delhi,0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,1,Kolkata,Banglore,2,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,4,Delhi,Cochin,2,No info,13882.0,9,6,2019,4,25,9,25,19,0
3,3,Kolkata,Banglore,1,No info,6218.0,12,5,2019,23,30,18,5,5,25
4,3,Banglore,New Delhi,1,No info,13302.0,1,3,2019,21,35,16,50,4,45

In [143]:
df['Destination']=labelencoder.fit_transform(df['Destination'])

In [144]:
df['Source'].head()

0    Banglore
1     Kolkata
2       Delhi
3     Kolkata
4    Banglore
Name: Source, dtype: object

In [146]:
df['Source']=labelencoder.fit_transform(df['Source'])

In [147]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min,Duration hour,Duration min
0,3,0,5,0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,1,3,0,2,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,4,2,1,2,No info,13882.0,9,6,2019,4,25,9,25,19,0
3,3,3,0,1,No info,6218.0,12,5,2019,23,30,18,5,5,25
4,3,0,5,1,No info,13302.0,1,3,2019,21,35,16,50,4,45

In [148]:
df['Additional_Info']=labelencoder.fit_transform(df['Additional_Info'])

I have found no outlier in this dataset

## check duplicate values

In [149]:
df.duplicated().sum()

np.int64(238)

In [150]:
df[df.duplicated()]

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min,Duration hour,Duration min
683,4,2,1,2,8,13376.0,1,6,2019,4,25,14,35,13,50
1061,1,2,1,2,8,10231.0,21,5,2019,19,15,22,0,21,15
1348,1,2,1,2,8,12392.0,18,5,2019,19,15,17,15,26,0
1418,4,2,1,2,5,10368.0,6,6,2019,4,25,5,30,22,55
1674,3,0,5,0,8,7303.0,24,3,2019,21,20,18,25,2,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171,4,2,1,2,8,NaN,21,5,2019,12,35,9,40,26,55
2531,1,2,1,1,8,NaN,6,3,2019,9,25,9,45,23,40
2536,1,2,1,1,8,NaN,3,6,2019,19,15,22,0,21,15
2553,4,2,1,2,8,NaN,15,6,2019,19,0,5,30,13,30
2583,3,0,5,1,8,NaN,24,3,2019,21,45,18,55,2,50

In [151]:
df[df.duplicated(keep=False)]

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min,Duration hour,Duration min
33,4,2,1,2,5,10919.0,15,6,2019,12,35,14,35,22,0
49,4,2,1,2,5,11150.0,27,6,2019,19,0,23,5,19,55
73,4,2,1,2,8,12819.0,24,6,2019,12,35,23,5,13,30
81,4,0,5,0,8,7229.0,24,3,2019,22,35,19,55,2,40
87,4,2,1,2,8,13014.0,6,6,2019,4,25,9,40,18,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171,4,2,1,2,8,NaN,21,5,2019,12,35,9,40,26,55
2531,1,2,1,1,8,NaN,6,3,2019,9,25,9,45,23,40
2536,1,2,1,1,8,NaN,3,6,2019,19,15,22,0,21,15
2553,4,2,1,2,8,NaN,15,6,2019,19,0,5,30,13,30
2583,3,0,5,1,8,NaN,24,3,2019,21,45,18,55,2,50

In [160]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Total_Stops           0
Additional_Info       0
Price              2670
Date                  0
Month                 0
Year                  0
Arrival hour          0
Arrival Min           0
Dep hour              0
Dep min               0
Duration hour         0
Duration min          0
dtype: int64

In [216]:
df_test=df[df['Price'].isnull()]

In [217]:
df_train=df[~df['Price'].isnull()]

In [218]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10680 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10680 non-null  int64
 1   Source           10680 non-null  int64
 2   Destination      10680 non-null  int64
 3   Total_Stops      10680 non-null  int64
 4   Additional_Info  10680 non-null  int64
 5   Price            10680 non-null  float64
 6   Date             10680 non-null  int64
 7   Month            10680 non-null  int64
 8   Year             10680 non-null  int64
 9   Arrival hour     10680 non-null  int64
 10  Arrival Min      10680 non-null  int64
 11  Dep hour         10680 non-null  int64
 12  Dep min          10680 non-null  int64
 13  Duration hour    10680 non-null  int64
 14  Duration min     10680 non-null  int64
dtypes: float64(1), int64(14)
memory usage: 1.3 MB

In [219]:
df_train.duplicated().sum()

np.int64(222)

In [220]:
dup_rows = df_train[df_train.duplicated(keep=False)]
dup_rows.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival hour,Arrival Min,Dep hour,Dep min,Duration hour,Duration min
33,4,2,1,2,5,10919.0,15,6,2019,12,35,14,35,22,0
49,4,2,1,2,5,11150.0,27,6,2019,19,0,23,5,19,55
73,4,2,1,2,8,12819.0,24,6,2019,12,35,23,5,13,30
81,4,0,5,0,8,7229.0,24,3,2019,22,35,19,55,2,40
87,4,2,1,2,8,13014.0,6,6,2019,4,25,9,40,18,45

In [221]:
dup_groups = dup_rows.groupby(df_train.columns.tolist()).size()
dup_groups.value_counts()

2    172
3     25
Name: count, dtype: int64

In [223]:
df_train = df_train.drop_duplicates()

In [224]:
df_train.duplicated().sum()

np.int64(0)

All the duplicates have been deleted

Now lets work on train and test data and X and Y

In [225]:
X = df_train.drop('Price', axis=1)
y = df_train['Price']

In [226]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [227]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(8366, 14) (8366,)
(2092, 14) (2092,)

In [228]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [229]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred_lr = lr.predict(X_test)

print("Linear Regression")
print("R2:", r2_score(y_test, y_pred_lr))
print("MAE:", mean_absolute_error(y_test, y_pred_lr))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_lr)))

Linear Regression
R2: 0.3804197864744977
MAE: 2591.1690767669375
RMSE: 3781.050627256555

In [230]:
from xgboost import XGBRegressor

xgb = XGBRegressor(
    n_estimators=300,
    learning_rate=0.05,
    max_depth=6,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42
)

xgb.fit(X_train, y_train)

y_pred_xgb = xgb.predict(X_test)

print("XGBoost")
print("R2:", r2_score(y_test, y_pred_xgb))
print("MAE:", mean_absolute_error(y_test, y_pred_xgb))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_xgb)))

XGBoost
R2: 0.8970330988339843
MAE: 847.2703970622835
RMSE: 1541.3900238298186

In [231]:
print("Train R2:", xgb.score(X_train, y_train))
print("Test R2:", xgb.score(X_test, y_test))

Train R2: 0.952805268036826
Test R2: 0.8970330988339843